@font-face {
    font-family: 'VerbCompLight';
    src: url('fonts/VerbCompRegular.eot');
    src: url('fonts/VerbCompLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/VerbCompLight.woff') format('woff'),
         url('fonts/VerbCompLight.ttf') format('truetype'),
         url('fonts/VerbCompLight.svg#VerbCompLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VerbCompRegular';
    src: url('fonts/VerbCompRegular.eot');
    src: url('fonts/VerbCompRegular.eot?#iefix') format('embedded-opentype'),
         url('fonts/VerbCompRegular.woff') format('woff'),
         url('fonts/VerbCompRegular.ttf') format('truetype'),
         url('fonts/VerbCompRegular.svg#VerbCompRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VerbCompBold';
    src: url('fonts/VerbCompRegular-Bold.eot');
    src: url('fonts/VerbCompRegular-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/VerbCompRegular-Bold.woff') format('woff'),
         url('fonts/VerbCompRegular-Bold.ttf') format('truetype'),
         url('fonts/VerbCompRegular-Bold.svg#VerbCompRegular-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VerbCompBlack';
    src: url('fonts/verbcompblack-webfont.eot');
    src: url('fonts/verbcompblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/verbcompblack-webfont.woff') format('woff'),
         url('fonts/verbcompblack-webfont.ttf') format('truetype'),
         url('fonts/verbcompblack-webfont.svg#verbcompblack') format('svg');
    font-weight: normal;
    font-style: normal;
}


.vlight {
    font-family: 'VerbCompLight', 'Helvetica', Arial, sans-serif;
}
.vreg {
    font-family: 'VerbCompRegular', 'Helvetica', Arial, sans-serif;
}
.vbold {
    font-family: 'VerbCompBold', 'Helvetica', Arial, sans-serif;
}
.vblack {
    font-family: 'VerbCompBlack', 'Helvetica', Arial, sans-serif;
}
