
.pictures {
    @include grid-row();
    max-width: 100%;
    width: 100%;
    .picture {
      @include grid-column(
        // Control the number of columns
        $columns:2.5,
        // Specify whether or not this is the last column in the row
        $last-column:true,
        // Choose whether or not to center this column
        $center:true,
        // Set to true to remove column padding
        $collapse:true
      );
      float: left;
    }
}
